.demo-card-wide.mdl-card {
  width: 768px;
}
.add-todo-form{
	width:100%;
}
.add-todo-form input[type="text"]{
	width:90%;
	padding:15px 80px 15px 10px;
	font-size:2em;
	margin-right:10px;
}
thead{
	display:none;
}
/*.add-todo-button{
	left:90%;
	top:-65px;
}*/
.mdl-data-table tbody{
	width:100%;
}
.mdl-data-table tbody tr td:nth-child(2){
	width:90%;
	padding:10px;
	font-size:1.5em;
}